In [1]:
for Num in range(0,20):
    print(Num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [3]:
lists = [11,12,13,14,15,16,17,18,19,20]
print(lists)
print("The number of itesm in the lists :",len(lists))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
The number of itesm in the lists : 10

In [4]:
#the below Lists - will be considered as STRING when we use string literals by putting the letters in quotes ('A', 'B', etc.) "or" 
#STRING can be given like this also (Lists="abcdefghijklmnopqrstuvwxyz")
Lists=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
print(Lists)
print("The number of items in the lists :")
print(len(Lists))

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
The number of items in the lists :
26

In [5]:
print("Artificial Intelligence")
Name = ['A','r','t','i','f','i','c','i','a','l',' ','I','n','t','e','l','l','i','g','e','n','c','e']
for i in Name:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
letters="Artificial Intelligence"
print(letters)
for i in letters:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [7]:
text="abcdefghijklmnopqrstuvwxyz"
print(len(text))
for a in text:
    print(a,end=' ')

26
a b c d e f g h i j k l m n o p q r s t u v w x y z

In [8]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [9]:
Num_Lists = [20,10,16,19,25,1,276,188]
print(tuple(Num_Lists))
for Odd in Num_Lists:
    if((Odd%2)!=0):
        print(Odd, "is Odd Number")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is Odd Number
25 is Odd Number
1 is Odd Number

In [10]:
numlists=[20,10,16,19,25,1,276,188]
print(tuple(numlists))
for Even in numlists:
    if((Even%2)==0):
        print(Even, "is Even Number")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is Even Number
10 is Even Number
16 is Even Number
276 is Even Number
188 is Even Number

In [11]:
my_tuple = (1,'Welcome',2,'HOPE')
print(my_tuple)

(1, 'Welcome', 2, 'HOPE')

In [8]:
tuple1=(0, 1, 2, 3)
tuple2=('python', 'HOPE')
tuple3=(tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))